* {
	padding: 0;
	margin: 0;
}
#parent {
	height: 100vh;
	width: 100vw;
	display: table;
	font-family: 'Lato', sans-serif;
	background-image: url("../img/tile_background.png");
    background-repeat: repeat;
}
#centered {
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
	text-align: center;
}
#child {
	background-color: white;
	padding: 90px;
	display: inline-block;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
table {
	text-align: left;
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
	padding: 5px;
}